# Virtual environment
.venv
.env

# Production config (mounted separately, not overwritten by repo)
config.json

# Data files
data/
*.xlsx

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/

# Test files
test_output.txt